POSTGRES_PASSWORD=<replace-with-a-strong-database-password>
API_SECURITY_TOKEN=<replace-with-a-strong-api-security-token>

# # Override host ports to prevent collision with another set of services on ports 5432, 8081, 8082
# POSTGRES_HOST_PORT=5433
# VALIDATOR_HOST_PORT=8092
# GATEWAY_HOST_PORT=8091